.login-form{
    text-align: center;
}
input, button { border:none; } 
.submit-btn{
    margin-top: 2%;
    margin-bottom: 10px;
    padding: 0 5%;
    border: 1px solid rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 15px;
    -moz-border-radius: 30px;
    overflow: hidden;
    background: #5ee5bb;
    opacity: 0.7;
}
.submit-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
}