ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  opacity: 1;
}
li{
  display: inline;
  padding: 1%;
  text-decoration: none;
  color: #5ee5bb;
}
nav {
  text-align: center;
  margin-top: 1%;
  color: #5ee5bb;
}
li a:hover {
  background: #5ee5bb;
  color: white;
  border-radius: 20%;
  overflow: hidden;
  opacity: 1;
}
a:visited {
  color: #5ee5bb;
  text-decoration: none;
}
a:active {
  color: #5ee5bb;;
}
